@import "~bulma";

html {
  font-size: 24px;
}

body {
  padding: 1rem;
}

.autocom-field {
  width: 400px;
  &:focus {
    & ~ .options {
      display: block;
    }
  }

  &:hover {
    & ~ .autocom__clear-button {
      display: block;
    }
  }
}

.autocom {
  position: relative;
  display: inline-block;

  &__clear-button {
    display: none;
    width: 24px;
    height: 24px;
    border: 0;

    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);

    font-size: 16px;

    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpath d='M12.6 5c-.3 0-.6.2-.6.4l-.6 6.4c-.1.6-.5 1.1-1.1 1.1h-4.6c-.5 0-1-.5-1.1-1.1l-.6-6.4c0-.2-.3-.4-.6-.4-.2 0-.4.3-.4.6l.6 6.4c.1 1.1 1 2 2.1 2h4.5c1.1 0 2-.9 2.1-2l.7-6.4c0-.3-.2-.6-.4-.6zm.8-2h-4.4c0-.6-.4-1-1-1s-1 .4-1 1h-4.4c-.3 0-.6.2-.6.5s.3.5.6.5h10.8c.3 0 .6-.2.6-.5s-.3-.5-.6-.5z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    &:hover {
      display: block;
    }
  }
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;

  display: none;
  max-height: 200px;

  border: 1px solid silver;
  border-top: 0;
  border-radius: 0 0 4px 4px;

  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  &:hover {
    display: block;
  }

  &__item {
    padding: 2px 16px;
    cursor: pointer;

    &:hover, &_selected {
      background: #e3f1fa;
    }

    &_empty {
      pointer-events: none;
      opacity: 0.6;
    }
  }
}
